@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Fuzzy+Bubbles:wght@400;700&family=Open+Sans:ital,wght@1,300&display=swap');

.carousel .carousel-item {
    height: 400px;
    width: 400px;
  }
  
  .carousel-item img {
      position: center;
      object-fit: cover;
      padding:2.5rem 4rem 2.5rem 4rem;
      max-height: 400px;
      /* max-width: 300px; */
  }
 .cars{
     display: inline-flex;
 }

  .foot{
      height: 470px;
      background-color: rgb(243, 225, 242);
 background-color: rgb(243, 225, 242);
  }
  .legl{
    padding-top: 3rem;
  }
  .legr{
      padding-top: 3rem;
      float: left;
      width: 50%;
  }
  .back{
      background-image: url('https://images.unsplash.com/photo-1603792907191-89e55f70099a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHNhbGV8ZW58MHx8MHx8&auto=format&fit=crop&w=1000&q=60');
      height: 60vh;  
      font-family: 'Comforter Brush', cursive;
      font-family: 'Fuzzy Bubbles', cursive;
      font-family: 'Open Sans', sans-serif;
      padding:8rem 0rem 0rem 35rem;
    }
    .ml-auto{
        height: 4vh;
        align-items: center;
    }
    .os{
        width:120px;
        height: 120px;
        margin-right: 2rem;
    }
   .pie{
    height: 380px;
    width: 40%;  
    margin-left: 3rem;
    float: left;
    color: white;
    background-image: url(https://images.unsplash.com/photo-1635405074683-96d6921a2a68?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzF8fGVjb21tZXJjZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=700&q=60);
   }
   .chick{
       height: 380px;
       width: 51%;
       margin-right: 3rem;
       background-color: rgb(238, 226, 226);
       float: right;
   }
   .ts{
    height:365px;
    width:97.7%;
    background-color:white;
    margin: 0.5rem;
   }
    .ick{
      display: flex;
      padding: 2rem;
      background-color: rgb(238, 240, 240);
      width:93%;
      margin-left: 3rem;
      height:170px;
    }
    .tru{
        height: 570px;
        width: 350px;
        background-color:  rgb(243, 225, 242);
        margin-left: .6rem;
        
    }
    .sss{
      float: left;
      height: 3rem;
      display: grid;
    
      grid-template-columns: auto auto auto auto;
      grid-column-gap: 30px;
      grid-row-gap:20px ;
    }